{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        #plant-profile {


        }

        .infogroup {

        }

        @media screen and (max-width: 1360px){

        }
    </style>
{% endblock %}
{% block body %}
<div id="plant-profile">
    <div class="infogroup">
        <div class="infogroup__item">
            <div class="infogroup__item__title">Name:</div>
            <div class="infogroup__item__value">{{ plant.name }}</div>
            </div>
            <div class="infogroup__item">
                <div class="infogroup__item__title">Scientific Name:</div>
                

</div>
{% endblock %}
