{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        #plant-profile {
            display:flex;
            flex-direction:column;
            align-items:center;
            padding:20px;
            border:1px solid #ccc;
            border-radius:10px;
            box-shadow:0 0 10px rgba(0,0,0,0.
            


        }

        .infogroup {

        }

        @media screen and (max-width: 1360px){

        }
    </style>
{% endblock %}
{% block body %}
<div id="plant-profile">
    <il class='text-uppercase'>Name</il>
    <il class='text-uppercase'>Emil</il>
    <il class='text-uppercase'>Schule</il>
    <il class='text-uppercase'>Bethel Gymnasium</il>
    <il class='text-uppercase'>Email</il>
    <il class='text-uppercase'>Wapiufbaivb@gmail.com</il>
    <il class='text-uppercase'>Telefon</il>
    <il class='text-uppercase'>+49 176 47061713</il>
</div>
{% endblock %}
