{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        #plant-profile {


        }

        .infogroup {

        }

        @media screen and (max-width: 1360px){

        }
    </style>
{% endblock %}
{% block body %}
<div id="plant-profile">
    <il>Name</il>
    <il>Emil</il>
    <il>Schule</il>
    <il>Bethel Gymnasium</il>
    <il>Email</il>
    <il>Wapiufbaivb@gmail.com</il>
    <il>Telefon</il>
    <il>+49 176 47061713</il>
</div>
{% endblock %}
