.demo-card-wide.mdl-card {
    position: absolute;
    top: 10%;
    left: 10%;
  }
  
  .demo-card-wide > .mdl-card__title {
    color: #ffffff;
    height: 180px;
    background: url("matrix-g8d6ed7561_1920.jpg") center / cover;
  }
  
  .demo-card-wide > .mdl-card__menu {
    color: #121317;
  }
  @media screen and (width: 2043px) {
  body {
    width: 2043px;
    height: 1536px;
    font-size: 16px;
  }
}
