<!DOCTYPE html>
<html>
<head>
<meta name="Lebenslauf" content="Die Meta Description ist ein Text, bis zu etwa 155 Zeichen lang, der den Inhalt einer Seite zusammenfasst und in den Suchergebnissen erscheint. Mehr Infosr,
    Illustrator: P. Picture, Category: Books, Price: $17.99,
    Length: 784 pages"/>
    <meta charset="UTF-8">
    <title>{% block title %}Praktikum{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
    {% block style %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>