{% block style %}
    <style>
        .hobby {
            background-color: rgb(var(--color-primary-darker));
            padding: 80px;
            
        }

        .hobby-element{
            grid-gap: 32px;
            max-width: 1024px;
            grid-template-columns: 60% auto;
            display: grid;

        }
        .hobby-cards{
            grid-gap: 32px;
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2, 50%);
        }

    .card {
        background-color: rgb(var(--color-primary-darker));
        padding: 20px;
        border-left: 2px solid transparent;
        border-bottom: 2px solid transparent;
        transition: border 0.3s ease, transform 0.3s ease;
}

.card:hover {
        border-left: 8px solid rgb(var(--prim));
        border-bottom: 8px solid rgb(var(--prim));
        transform: translateY(-5px);
}


        @media screen and (max-width: 1020px) {
            .hobby-element {
                display: flex;
                flex-direction: column;
            }
        }

        @media screen and (max-width: 650px){
            .hobby {
                min-height: max-content !important;
                padding: 16px;
            }
            .hobby-cards {
                grid-template-columns: repeat(1, 100%);
            }
        }
    </style>
{% endblock %}

{% block body %}
    {% set hobbies = [
        {'headline': 'Mechatronik',
        'content': 'In meiner Freizeit verbringe ich gerne viel Zeit in der Werkstat und  baue dinge wie Quads und kleine Roboter',
        'icon': 'svg/3117187-200.svg'},
        {'headline': 'Handball',
        'content': 'Ich spiele gerne und viel Handball. Ich spiele bei EGB und in der Oberliga Ausserdem spiele ich im Herrenbereich.',
        'icon': 'svg/6836874.svg'},
        {'headline': 'Fahrrad ',
        'content': 'Ich fahre gerne und viel Fahrrad. Grade auch in meiner Freizeit, ob Mountainbike Rennrad oder Selbstgebautes E-bike.',
        'icon': 'svg/71422.svg'},
        {'headline': 'Programmieren',
        'content': 'In der Schule, sowie auch in meiner Freizeit, bereitet mir das Programmieren mit PHP, CSS und Python  viel Freude. ',
        'icon': 'svg/div-coding-icon.svg'},
        ] %}

    <section id="hobby" class="hobby">
        <div class="hobby-element">
            <span class="hobby-cards">
                {% for item in hobbies %}
                    {% include 'components/card.html.twig' with item %}
                {% endfor %}
            </span>
            <span class="hobby-text">
                <h2> Vorstellung meiner Person</h2>
                <p class="light color-primary-normal">Mein Name ist Maria Mustermann. Ich bin 17 Jahre alt und besuche derzeit das Gymnasium XYZ in Musterstadt. Meine Interessen liegen im Kreativen und Nachhaltigen Bereich. Ich fotografiere gerne und achte sehr auf meinen CO2 Fußabdruck. In der Schule belege ich die Leistungskurse Englisch, Informatik und Chemie. Hierbei bringt mir in Informatik das Programmieren viel Freude, daher beschäftige ich mich hiermit auch in meiner Freizeit.
                </p>
            </span>
        </div>
    </section>
{% endblock %}
